{% extends 'base.html.twig' %}

{% block title %}Knight{% endblock %}

{% block body %}
    <h1>Knight</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ knight.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ knight.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ knight.lastname }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ knight.description }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ knight.section }}</td>
            </tr>
            <tr>
                <th>Round_table</th>
                <td>{{ knight.roundTable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('knight_index') }}">back to list</a>

    <a href="{{ path('knight_edit', {'id': knight.id}) }}">edit</a>

    {{ include('knight/_delete_form.html.twig') }}
{% endblock %}
